<p>Displaying first 15 orders</p>
<!-- For each order make a table -->
<div id='accordion'>
  <% for(order of orders) { %>
    <% if(order.hasPartial) { %> 
      <div class="card">
        <div class='card-header' id='<%= order.order_id %>_heading'>
          <a  data-toggle="collapse" href="#<%= order.order_id %>_orderToggle" data-target="#<%= order.order_id %>_orderToggle"
              role="button" aria-expanded="<% if(order.order_id !== 1) {%>false<% } %>" aria-controls="<%= order.order_id %>_heading" >
            <div class="<%= order.order_id %>_order"> 
              <span id='<%= order.order_id %>_salesOrder'>Order #<%= order.order_id %></span>
              <span id='<%= order.order_id %>_priority' style='float: right'>Priority 1</span><br>
              <span id='<%= order.order_id %>_truck'>YRC</span>
              <span id='<%= order.order_id %>_need' style='float: right'>Needs pulled: cases</span>
            </div>
          </a>
        </div>
        <div id="<%= order.order_id %>_orderToggle" class='collapse' aria-labelledby="<%= order.order_id %>_heading" data-parent="#accordion">
          <div class='card-body'>
            <table id='<%= order.order_id %>_orderTable'>
              <tbody>
                <tr id='<%= order.order_id %>_orderTableHeader'>
                  <th>Bin</th>
                  <th>Item</th>
                  <th>Pieces</th>
                  <th>Case pack</th>
                  <th>Qty available</th>
                </tr>
                <% for (const lineItem of order.lineItems) { %>
                  <% if(lineItem.invItem) { %>
                    <tr id='<%= lineItem.invItem.name %>'>
                      <td id='<%= lineItem.invItem.name %>_binInfo'>
                        <span id='<%= lineItem.invItem.name %>_Pri'>
                          Pri: <%= lineItem.invItem.primary_bin %>
                        </span><br>
                        <span id='<%= lineItem.invItem.name %>_Pick'>
                          Pick: <%= lineItem.invItem.pick_bin %>
                        </span>
                      </td>
                      <td id='<%= lineItem.invItem.name %>_name'>
                        <%= lineItem.invItem.name %>
                      </td>
                      <td id='<%= lineItem.invItem.name %>_cases'>
                        <input type='number' class='cases' value=''>/<%= lineItem.pc_qty %>
                      </td>
                      <td id='<%= lineItem.invItem.name %>_cs_qty'>
                        <input type="number" name="casePack" class="smallInput grayBG" id='<%= lineItem.invItem.name %>_cs_qty'
                        placeholder="<%= lineItem.invItem.case_qty %>"> pc
                      </td>
                      <td id='<%= lineItem.invItem.name %>_qty_avail'>
                        <%= lineItem.invItem.qty_avail %>
                        <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"
                          onclick="">
                        </i>
                      </td>
                    </tr>
                  <% } %>
                <% } %>
              </tbody>
            </table> <!-- End orderTable -->
          </div>
        </div> <!-- End orderToggle -->
      </div> <!--End card-->
    <% } %>
  <% } %>
</div> <!--End accordion-->